body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

form {
    display: flex;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-right: none;
    outline: none;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #ddd;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

.loader {
  animation: pulse 1.2s infinite;
}
@keyframes pulse {
  0% { opacity: .4; }
  50% { opacity: 1; }
  100% { opacity: .4; }
}
